<header>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <img
        class="white-png"
        src="assets/img/vk-icon.png"
        alt="VK icon"
        width="50px"
        height="50px"
      />

      <form role="search">
        <input class="form-control" type="search" placeholder="Search" />
      </form>

      <app-avatar
        src="assets/img/profile-icon.png"
        alt="Profile Icon"
        [width]="50"
        [height]="50"
        class="border-white white-png"
      ></app-avatar>
    </div>
  </nav>
</header>
