<app-header></app-header>

<main class="main__profile">
  <app-nav></app-nav>
  <section class="row">
    <div class="m-3 col-md-4 col-10 left-side">
      <div class="mb-3">
        <div class="p-1">
          <h3>Messages</h3>
        </div>
        <div>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Search a conversation"
            />
          </div>
        </div>

        <div class="overflow-y-scroll" style="height: 650px">
          <div
            class="pb-3 d-flex flex-column"
            *ngFor="let user of users$ | async"
          >
            <div
              class="d-flex pt-3 pb-3"
              (click)="chooseDiolog(user.id)"
              role="button"
            >
              <div class="w-100">
                <div class="d-flex">
                  <img
                    class="rounded-circle shadow avatar-sm"
                    [src]="user.photo"
                  />
                  <div>
                    <h6 class="margin-auto ps-1">{{ user.name }}</h6>
                    <div class="d-flex flex-row mt-1">
                      <span class="ms-4 margin-auto fs-13"
                        >I'm looking forward to it</span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex-shrink-0 margin-auto left-side__message-time">
                <div class="d-flex flex-column">
                  <p class="text-muted text-right fs-13 mb-2">08:55</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="m-3 col-md-7 col-10 right-side">
      <div class="shadow-line mb-3 chat chat-panel">
        <div class="p-3">
          <div class="d-flex">
            <div class="w-100 d-flex pl-0" *ngIf="messagesDiologUser$ | async">
              <img
                class="rounded-circle shadow avatar-sm"
                [src]="(messagesDiologUser$ | async)?.photo"
              />
              <div>
                <a
                  ><p class="mb-0">
                    {{ (messagesDiologUser$ | async)?.name }}
                  </p></a
                >
                <p class="text-muted text-small mb-0">
                  last seen today at 09:15 PM
                  <!-- last message time -->
                </p>
              </div>
            </div>
            <div
              class="w-100 d-flex pl-0"
              *ngIf="!(messagesDiologUser$ | async)"
            >
              <img
                class="rounded-circle shadow avatar-sm"
                src="/assets/img/profile-icon.png"
              />
              <div>
                <a><p class="mb-0">Choose Diolog</p></a>
                <p class="text-muted text-small mb-0">choose diolog</p>
              </div>
            </div>
          </div>
        </div>
        <div
          #diolog
          id="diolog"
          class="d-flex flex-row mb-3 overflow-y-scroll"
          style="height: 600px"
        >
          <div class="w-100 p-3" *ngIf="(messagesDiolog$ | async)?.length">
            <div *ngFor="let message of messagesDiolog$ | async; let i = index">
              <div
                class="text-center letter-space text-uppercase fs-12 w-100 mb-3"
              >
                {{ message.publish_date | date : "mediumDate" }}
              </div>
              <div
                *ngIf="message.receiverId === currentUserId"
                class="left-chat-message fs-13 mb-2 bg-dark"
              >
                <p class="mb-0 text-white">
                  {{ message.message }}
                  <span class="text-white ms-4">{{
                    message.publish_date | date : "shortTime"
                  }}</span>
                </p>
              </div>
              <div
                *ngIf="message.receiverId !== currentUserId"
                class="d-flex flex-row-reverse mb-2"
              >
                <div class="right-chat-message fs-13 mb-2 bg-primary">
                  <div class="mb-0">
                    <div>
                      {{ message.message }}
                      <span class="text-white ms-4">{{
                        message.publish_date | date : "shortTime"
                      }}</span>
                      <svg
                        (click)="updateMessage(message.id)"
                        xmlns="http://www.w3.org/2000/svg"
                        width="10"
                        height="10"
                        fill="currentColor"
                        class="bi bi-pencil-square position-absolute bottom-0 end-0 m-1"
                        role="button"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                        />
                        <path
                          fill-rule="evenodd"
                          d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
                        />
                      </svg>
                      <svg
                        (click)="deleteMessage(message.id)"
                        xmlns="http://www.w3.org/2000/svg"
                        width="10"
                        height="10"
                        fill="currentColor"
                        class="bi bi-x-square position-absolute top-0 end-0 m-1"
                        role="button"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"
                        />
                        <path
                          d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
                        />
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="">
          <form [formGroup]="messageForm" class="input-group">
            <input
              type="text"
              formControlName="message"
              [classList]="[
                'form-control ',
                messageForm.get('message')?.invalid && receiverUserId
                  ? 'border border-danger'
                  : 'border border-primary'
              ]"
              placeholder="Write a message"
            />
            <svg
              *ngIf="!isAddMessage"
              (click)="closeUpdateMessage()"
              xmlns="http://www.w3.org/2000/svg"
              width="10"
              height="10"
              fill="currentColor"
              class="bi bi-x-square position-absolute top-0 start-0 m-1"
              role="button"
              viewBox="0 0 16 16"
            >
              <path
                d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"
              />
              <path
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
              />
            </svg>

            <button
              *ngIf="isAddMessage"
              [disabled]="messageForm.invalid || !receiverUserId"
              (click)="sentMessage()"
              class="btn btn-primary"
            >
              Sent
            </button>
            <button
              *ngIf="!isAddMessage"
              [disabled]="messageForm.invalid || !receiverUserId"
              (click)="editMessage()"
              class="btn btn-primary"
            >
              Edit
            </button>
          </form>
          <span
            *ngIf="
              messageForm.get('message')?.hasError('required') && receiverUserId
            "
            class="ms-2 text-danger fs-12"
            >Message is Required</span
          >
          <span
            *ngIf="
              !messageForm.get('message')?.hasError('required') ||
              !receiverUserId
            "
          >
            &nbsp;
          </span>
        </div>
      </div>
    </div>
  </section>
</main>
