<app-header></app-header>

<main class="main__profile h-100">
  <app-nav></app-nav>
  <section class="row">
    <div class="m-3 col-md-4 col-10 left-side">
      <app-message-left-side
        [users$]="users$"
        [chooseDiolog]="chooseDiolog.bind(this)"
      ></app-message-left-side>
    </div>
    <div class="m-3 col-md-7 col-10 right-side">
      <app-message-right-side
        [messagesDiologUser$]="messagesDiologUser$"
        [messagesDiolog$]="messagesDiolog$"
        [receiverUserId]="receiverUserId"
      ></app-message-right-side>
    </div>
  </section>
</main>
