<section *ngIf="!(postsIsLoading$ | async)" class="d-flex flex-column">
  <button
    *ngIf="isProfileOfCurrentUser()"
    id="addPost"
    class="btn btn-dark p-3 mb-3"
    (click)="openModal = true; this.postFormMethod = 'ADD'"
  >
    Add Post
  </button>
  <app-modal
    modalHeader="{{ postsForm.postFormMethod }} Post"
    [openModal]="openModal"
    [closeModal]="closeModal.bind(this)"
    ><app-posts-form
      #postsForm
      [openModal]="openModal"
      [closeModal]="closeModal.bind(this)"
      [onOpenModal]="onOpenModal.bind(this)"
      [postsListByUserId$]="postsListByUserId$"
    ></app-posts-form
  ></app-modal>

  <ng-container *ngFor="let post of postsListByUserId$ | async">
    <app-post [post]="post" (getIdEvent)="postsForm.getId($event)"></app-post>
  </ng-container>
</section>
<section class="d-flex justify-content-center align-items-center mt-2">
  <div
    *ngIf="postsIsLoading$ | async"
    class="spinner-border text-primary"
    role="status"
  >
    <span class="visually-hidden">Loading...</span>
  </div>
</section>
