<app-header></app-header>

<main class="main__profile h-100">
  <app-nav></app-nav>
  <section class="p-4">
    <section class="section__profile flex-column">
      <app-audio #audio></app-audio>
    </section>
    <section class="main__profile__main">
      <div class="d-flex flex-direction-column justify-content-between">
        <button class="btn btn-dark" (click)="chooseMyAudio()">My Audio</button>
        <form [formGroup]="searchForm" role="search">
          <input
            class="form-control border-dark"
            type="search"
            placeholder="Search"
            formControlName="search"
            (keydown.enter)="showResult()"
            (keydown.escape)="closeResult()"
          />
        </form>
      </div>
      <button (click)="openModal = true" class="btn btn-dark">
        Add New Audio
      </button>
      <div class="position-absolute">
        <app-modal
          [openModal]="openModal"
          [closeModal]="closeModal.bind(this)"
          modalHeader="Add Audio"
        >
          <app-audio-form [closeModal]="closeModal.bind(this)"></app-audio-form
        ></app-modal>
      </div>

      <div>
        <ng-container *ngIf="!(foundAudio$ | async)">
          <app-audio-list
            (chooseAudio)="audio.onChooseAudio($event)"
            [audioList]="audioListByUserId$"
          ></app-audio-list
        ></ng-container>
        <ng-container *ngIf="foundAudio$ | async">
          <app-audio-list
            (chooseAudio)="audio.onChooseAudio($event)"
            [audioList]="foundAudio$"
          ></app-audio-list
        ></ng-container>
      </div>
      <div>
        <app-followers-list
          [chooseFollowerAudio]="chooseFollowerAudio.bind(this)"
        ></app-followers-list>
      </div>
    </section>
  </section>
</main>
