<app-header></app-header>

<main class="main__profile">
  <app-nav></app-nav>
  <section class="p-4">
    <section class="section__profile flex-column">
      <app-audio></app-audio>
    </section>
    <section class="main__profile__main">
      <button class="btn btn-dark">My Audio</button>
      <button class="btn btn-dark">Add New Audio</button>
      <div>
        <app-audio></app-audio>
        <app-audio></app-audio>
        <app-audio></app-audio>
        <app-audio></app-audio>
        <app-audio></app-audio>
      </div>
      <div>
        <app-friends-list></app-friends-list>
      </div>
    </section>
  </section>
</main>
