<div class="card mb-3 border border-dark mb-3 p-4 position-relative">
  <img
    *ngIf="post.photo"
    [src]="post.photo"
    class="card-img-top card-image center w-75"
    alt=".."
  />
  <ng-container *ngIf="isPostOfCurrentUser(post.userId)">
    <app-edit-icon
      [func]="getId.bind(this, post.id, 'EDIT')"
      [width]="25"
      [height]="25"
      class="top-0 start-0 m-4"
    ></app-edit-icon>
    <app-delete-icon
      [func]="getId.bind(this, post.id, 'DELETE')"
      [width]="25"
      [height]="25"
      class="top-0 end-0 mt-4 me-4"
    ></app-delete-icon>
  </ng-container>
  <div class="card-header mt-4">{{ post.header }}</div>
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <p class="card-text">
      {{ post.text }}
    </p>
  </div>
</div>
