<h2 class="ms-3 mb-3">Audio List</h2>
<div class="container" *ngFor="let audio of audioList | async">
  <div class="row">
    <div class="col mb-3">
      <app-play-icon
        [func]="playAudio.bind(this, { src: audio.src, title: audio.title })"
        [width]="25"
        [height]="25"
      >
      </app-play-icon>
      {{ audio.title }}
    </div>
    <div class="col">{{ audio.author }}</div>
    <div class="col text-end">
      {{ store.select(userNameSelectorById(audio.userId)) | async }}
      <app-delete-icon
        *ngIf="isAudioOfCurrentUser(audio.userId)"
        [func]="deleteAudio.bind(this, audio.id)"
        [width]="25"
        [height]="25"
      ></app-delete-icon>
    </div>
  </div>
</div>
