<app-header></app-header>

<main class="main__profile h-100">
  <app-nav></app-nav>
  <section *ngIf="currentUser$ | async" class="p-4">
    <section class="section__profile position-relative">
      <app-modal
        modalHeader="Edit User"
        [openModal]="openModal"
        [closeModal]="closeModal.bind(this)"
      >
        <app-edit-user-form
          [currentUser$]="currentUser$"
          [openModal]="openModal"
          [onOpenModal]="onOpenModal.bind(this)"
          [closeModal]="closeModal.bind(this)"
        ></app-edit-user-form>
      </app-modal>

      <div class="w-100">
        <app-user [currentUser$]="currentUser$"></app-user>
      </div>

      <ng-container *ngIf="isProfileOfCurrentUser()">
        <app-edit-icon
          class="top-0 start-0"
          [func]="onOpenModal.bind(this)"
        ></app-edit-icon>

        <app-delete-icon
          class="top-0 end-0"
          [func]="deleteUser.bind(this)"
        ></app-delete-icon>
      </ng-container>
    </section>
    <div
      *ngIf="!isProfileOfCurrentUser()"
      class="border border-black rounded-circle"
    ></div>
    <section class="main__profile__main position-relative">
      <app-posts-list></app-posts-list>
      <app-followers-list
        [chooseFollowerProfile]="chooseFollowerProfile.bind(this)"
      ></app-followers-list>
    </section>
  </section>
  <section
    *ngIf="!(currentUser$ | async)"
    class="p-4 d-flex flex-column align-items-center justify-content-center w-25 mx-auto h-75 mt-5"
  >
    <div class="text-center">
      <p class="fs-3"><span class="text-danger">Opps!</span> No Such User.</p>
      <p class="lead">The user you’re looking for doesn’t exist.</p>
      <a [routerLink]="goHome()" class="btn btn-primary">Go Home</a>
    </div>
  </section>
</main>
